html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: flex-start; /* Align to the top */
}

.App {
  text-align: center; /* Center text within the container */
  padding: 20px; /* Optional padding */
}


#links {
  display: flex;
  justify-content: space-around; /* Distribute items with equal space around each */
  align-items: center; /* Center items vertically */
  width: 100%; /* Ensure the container spans full width */
}

#links a {
  text-decoration: none;
  color: #007bff; /* Adjust color as needed */
  margin: 0 15px; /* Optional margin for additional spacing */
}

a:hover {
  background-color: azure;
}