html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: flex-start; /* Align to the top */
  text-align: center;
}

.App {
  text-align: center; /* Center text within the container */
  padding: 20px; /* Optional padding */
}


#links {
  display: flex;
  justify-content: space-around; /* Distribute items with equal space around each */
  align-items: center; /* Center items vertically */
  width: 100%; /* Ensure the container spans full width */
}

#links a {
  text-decoration: none;
  color: #007bff; /* Adjust color as needed */
  margin: 0 15px; /* Optional margin for additional spacing */
}

a:hover {
  background-color: azure;
}


#weatherpic {
  display: flex;
  text-align: center;
  width: 800px;
}

#weatherpic:hover {
 transform: scale(1.1)
}

#payrollpic {
  display: flex;
  text-align: center;
  width: 800px;
  height: 150px;
}

#payrollpic:hover {
  transform: scale(1.1)
}
#self {
  display:flexbox;
  width: 500px;
  height: 500px;
}


.red-text {
  color: red;
}

.footer {
  font-size: 48px;
  margin-right: 20px;
}